<div class="container">
    @if (id()) {
        <h1>Modificar préstamo</h1>
    } @else {
        <h1>Crear préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [ngModel]="id()"  name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <input type=[value] matInput placeholder="Nombre del juego" [ngModel]="game()?.name" (ngModelChange)="game.set($event)" name="game" required>
            <mat-error>El nombre del juego no puede estar vacío</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <input type=[value] matInput placeholder="Nombre del juego" [ngModel]="client()?.name" (ngModelChange)="client.set($event)" name="client" required>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de préstamo</mat-label>
            <input type="date" matInput placeholder="Fecha de inicio" [ngModel]="startDate()" (ngModelChange)="startDate.set($event)" name="startDate" required>
            @if (dateError()) {
                <mat-error>{{ dateError() }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de devolución</mat-label>
            <input type="date" matInput placeholder="Fecha de devolución" [ngModel]="endDate()" (ngModelChange)="endDate.set($event)" name="endDate" required>
            @if (dateError()) {
                <mat-error>{{ dateError() }}</mat-error>
            }
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>