<div class="container">
    @if (id()) {
        <h1>Modificar préstamo</h1>
    } @else {
        <h1>Crear préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [ngModel]="id()"  name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select [value]="game()" (selectionChange)="game.set($event.value)">
                @for (game of games(); track game.id) {
                    <mat-option [value]="game"> {{ game.title }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select [value]="client()" (selectionChange)="client.set($event.value)">
                @for (client of clients(); track client.id) {
                    <mat-option [value]="client"> {{ client.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de préstamo</mat-label>
            <input type="date" matInput placeholder="Fecha de inicio" [ngModel]="startDate()" (ngModelChange)="startDate.set($event)" name="startDate" required>
            @if (dateError()) {
                <mat-error>{{ dateError() }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de devolución</mat-label>
            <input type="date" matInput placeholder="Fecha de devolución" [ngModel]="endDate()" (ngModelChange)="endDate.set($event)" name="endDate" required>
            @if (dateError()) {
                <mat-error>{{ dateError() }}</mat-error>
            }
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>